table thead th, table tbody tr > td:first-child,
table tbody tr > td:nth-child(3), table tbody tr > td:nth-child(6),
table tbody tr > td:nth-child(7), table tbody tr > td:last-child{
	text-align: center;
}
table tbody tr > td:last-child .btn-group{ text-align: left; }
table tbody tr > td:last-child .fa{ text-align: left; }
table td{ vertical-align: middle !important; }
table thead th{ vertical-align: middle !important; }
#so-list_paginate a.current{
	background-color: #47A447;
	color: #fff;
	border: 1px solid #47A447;
}
select[name="so-list_length"], #so-list_filter input{
	color: #333;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select[name="so-list_length"]:focus, #so-list_filter input:focus{
  border-color: #999999;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#so-list_filter input{ padding: 0 8px; }

form .control-label{ text-align: right; margin-top: 5px; }
form .form-group{ margin-bottom: 20px; }
form .form-group .radio-inline{
	padding-top: 5px;
}
.portlet .numeric-error-msg{ display: none; }

#cust-getData{
	max-height: 400px;
	overflow: auto;
}